<header>
    <div class="logotype">
        <div class="col-xs-12 col-sm-2">
            <img src="/assets/images/marvel-logo.png" alt="" class="img-logo">
        </div>
        <div class="col-xs-6">
          <div class="input-group search">
            <input type="text" class="form-control input-search"  ng-model="searchText.name" placeholder="Search character...">
            <span class="input-group-btn">
              <button class="btn btn-default search-button" type="button"><img src="/assets/images/search.png" alt="" class="search-icon"></button>
            </span>
          </div><!-- /input-group -->
        </div>
    </div>
</header>
