<div class="character">
  <div class="row">
    <div class="col-xs-3 imagen-col">
        <img ng-src="{{vm.characterDetails.thumbnail.path + '.' + vm.characterDetails.thumbnail.extension}}" alt="" class="img-responsive" >
    </div>
    <div class="col-xs-9 info-comics">
      <h3>{{vm.characterDetails.name}}</h3>
      <p>{{vm.characterDetails.description}}</p>
      <a type="button" ng-href="{{vm.characterDetails.urls[0].url}}" class="btn btn-primary btn-group btn-md button-more more-button">Mas Detalles</a>
      <a type="button" ng-href="{{vm.characterDetails.urls[1].url}}" class="btn btn-primary btn-group btn-md button-more wiki-button">Wiki {{vm.characterDetails.name}}</a>
      <a type="button" ng-href="{{vm.characterDetails.urls[2].url}}" class="btn btn-primary btn-group btn-md button-more comiclick-button">Comiclick</a>
    </div>
  </div>
  <div class="row item-comic">
      <div class="col-xs-12 tabs">
        <uib-tabset active="active">
            <uib-tab index="0" select="alertMe()">
                <uib-tab-heading class="text-capitalize title-tab">
                  comics
                </uib-tab-heading>
                <div class="row">
                  <button type="button" class="btn-group btn-md add-fav pull-right" ng-show="vm.characterDetails.series.items.lenght >0">Agregar 3 a favoritos</button>
                </div>
              <div class="row ">
                <div class="col-xs-4 items" ng-repeat="comic in vm.characterDetails.comics.items" >
                  <a class="item" ng-click="vm.actions.OpenComicsDetailsModal(comic.id)">{{comic.name}}</a>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="1" select="alertMe()">
                <uib-tab-heading class="text-capitalize title-tab">
                   Series
                </uib-tab-heading>
                <div class="row">
                  <div class="col-xs-4 items" ng-repeat="series in vm.characterDetails.series.items" >
                    <a class="item-series" >{{series.name}}</a>
                    <a class="item-series" ng-show="vm.series.items.lenght === 0">No posee series disponibles</a>
                  </div>
                </div>
            </uib-tab>
            <uib-tab index="2" select="alertMe()">
                   <uib-tab-heading class="text-capitalize title-tab">
                       stories
                   </uib-tab-heading>
                   <div class="row">
                     <div class="col-xs-4 items" ng-repeat="stories in vm.characterDetails.stories.items" >
                       <a class="item-series">{{stories.name}}</a>
                     </div>
                   </div>
            </uib-tab>
         </uib-tabset>
      </div>
    </div>
</div>
