<div class="modal-body" id="modal-body">
  <div class="row">
      <img src="/assets/images/btn-close.png" alt="" class="icon-delete pull-right" ng-click="actions.CloseModal()" >
  </div>
  <div class="row">
    <div class="col-xs-5 imagen-col">
        <img src="http://i.annihil.us/u/prod/marvel/i/mg/a/60/4e94a888dd6b6.jpg" alt="" class="img-post" >
    </div>
    <div class="col-xs-7 info-comics">
      <h3>{{comic.title}}</h3>
      <p>{{comic.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="btn-group buttom-footer col-xs-6" role="group">
        <button type="button" class="btn-group btn-group-justified btn-lg text-capitalize add-fav">
          <img src="/assets/images/btn-favourites-primary.png" alt="" class="img-buttom">added to favourites</button>
    </div>
    <div class="btn-group buttom-footer col-xs-6" role="group">
        <button type="button" class="btn-group btn-group-justified btn-lg text-capitalize buy">
          <img src="/assets/images/shopping-cart-primary.png" alt="" class="img-buttom"> buy for</button>
    </div>
  </div>
</div>
